<div class="title">
  <h2>Catálogo de cursos</h2>
</div>
<div class="datagrid">
  <table>
    <thead>
      <tr><th><a href="#" (click)="pressOrder()"><span>Título</span></a></th><th>Profesor</th><th>Nivel</th><th>Horas</th></tr>
    </thead>
    <tbody *ngFor="let course of courses">
      <tr>
        <td >{{ course.title }}</td>
        <td>{{ course.teacher.name }} {{ course.teacher.surname }}</td>
        <td>{{ course.level }}</td>
        <td>{{ course.hours }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <div>
            <ul>
                <td>
                   <li *ngIf="page.pageNumber > 0" (click)="pressButtonBack()"><a href="#"><span>Anterior</span></a></li>
                   <li><a href="#" (click)="pressButton1()"><span>{{ (page.pageNumber > 1) ? page.pageNumber : 1 }}</span></a></li>
                   <li><a href="#" (click)="pressButton2();"><span>{{ (page.pageNumber >= 1) ? page.pageNumber + 1 : 2 }}</span></a></li>
                   <li><a href="#" (click)="pressButton3()"><span>{{ (page.pageNumber > 1) ? page.pageNumber + 2 : 3 }}</span></a></li>
                   <li *ngIf="page.maxNumberPages > page.pageNumber" (click)="pressButtonNext()"><a href="#"><span>Siguiente</span></a></li>
                </td>
                <td>
                  <li><a href="#" (click)="pressButtonNew()"  class="actions"><span>Nuevo curso</span></a></li>
                </td>
            </ul>
         </div>
       </td>
       </tr>
    </tfoot>
  </table>
</div>
